Offshoots/ToneCore/sf2/*.sf2 filter=lfs diff=lfs merge=lfs -text
Offshoots/ToneCore/sf2/FluidR3_GM.sf2 filter=lfs diff=lfs merge=lfs -text
emotional_os/deploy/*.exe filter=lfs diff=lfs merge=lfs -text
emotional_os/deploy/*.zip filter=lfs diff=lfs merge=lfs -text
emotional_os/deploy/*.tar.gz filter=lfs diff=lfs merge=lfs -text
emotional_os/glyphs/glyphs.db filter=lfs diff=lfs merge=lfs -text
emotional_os/glyphs/glyph_lexicon_rows_backup_original_8560.json filter=lfs diff=lfs merge=lfs -text
